---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: servicelevelobjectives.ricoberger.de
spec:
  group: ricoberger.de
  names:
    kind: ServiceLevelObjective
    listKind: ServiceLevelObjectiveList
    plural: servicelevelobjectives
    singular: servicelevelobjective
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ServiceLevelObjective is the Schema for the servicelevelobjectives
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ServiceLevelObjectiveSpec defines the desired state of ServiceLevelObjective
            properties:
              slos:
                description: SLOs is a list of slos for the service
                items:
                  properties:
                    alerting:
                      description: Alerting can be used to adjust the alerting configuration
                        for the SLO.
                      properties:
                        disabled:
                          description: |-
                            Disabled can be used to disable the alerting. If the field is set to
                            "true" the operator will not generate alerting rules for Prometheus.
                          type: boolean
                        severities:
                          description: |-
                            Severities is a list of severities for the alerting rules created by the
                            operator for the absent alert and the burn rate alerts. The list must
                            contain 5 entries. The first one is used for the absent alert and the
                            remaining 4 for the burn rate alerts ordered by criticality.

                            The default list which is used, when the field is not set is ["critial",
                            "error", "error", "warning", "warning"]
                          items:
                            type: string
                          type: array
                      type: object
                    description:
                      description: A description for the SLO.
                      type: string
                    name:
                      description: Name is the name of the SLO, e.g. "errors", "latency",
                        etc.
                      type: string
                    objective:
                      description: |-
                        Objective is the objective for the SLO, e.g. "99.9% uptime", "95%
                        requests in 200ms", etc. It must be a percentage value between 1 and 100
                        as string, e.g. "99.9".
                      type: string
                    sli:
                      description: |-
                        SLI contains the metrics to calculate the SLO. For example the total
                        metric is the number of all requests, while the error metric is only the
                        number of all 5xx requests.
                      properties:
                        errorQuery:
                          type: string
                        totalQuery:
                          type: string
                      type: object
                  type: object
                type: array
            type: object
          status:
            description: |-
              ServiceLevelObjectiveStatus defines the observed state of
              ServiceLevelObjective.
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
